{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'nav/css/nav.css' %}">
<nav class="navbar">
    <div class="navbar-logo">
      <a href="#"><i class="fab fa-twitter"></i></a>
    </div>
    <ul class="navbar-links">
        <li class="active"><a href="#"><i class="fas fa-home"></i> Home</a></li>
        <li><a href="#"><i class="fas fa-hashtag"></i> Explore</a></li>
        <li><a href="#"><i class="far fa-bell"></i> Notifications</a></li>
        <li><a href="#"><i class="far fa-envelope"></i> Messages</a></li>
        <li><a href="#"><i class="far fa-bookmark"></i> Bookmarks</a></li>
        <li><a href="#"><i class="far fa-list-alt"></i> Lists</a></li>
        <li><a href="#"><i class="far fa-user"></i> Profile</a></li>
        <li><a href="#"><i class="fas fa-ellipsis-h"></i> More</a></li>
      </ul>
    <div class="navbar-buttons">
      {% if user.is_authenticated %}
         <button class="tweet-button"><a class="hr" href="{% url 'logout' %}">Logout</a></button>
      {% endif %}

      <img src="https://images.unsplash.com/photo-1575936123452-b67c3203c357?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8aW1hZ2V8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" alt="Profile Image" class="profile-image">
    </div>
  </nav>
  
  
{% endblock content  %}