nav {
    background-color: #0077B5;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem;
  }
  
  ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    margin-left: 1rem;
  }
  
  a {
    align-items: center;
    color: white;
    display: flex;
    font-size: 1.25rem;
    text-decoration: none;
  }
  
  .icon {
    margin-right: 0.5rem;
  }
  
  @media (max-width: 768px) {
    a {
      font-size: 1rem;
    }
  }
  